<%# creating a form to have a path like: /post/1/comments/1 . Thats why I am passing an array building a comment for the post. %>
<%# transferred post.comments.build to te show.html so we can edit the comment. Added the comment variable that we are passing in from the comment partial and show page. %>
<%= form_with(model: [post, comment]) do |f| %>
  <div class="form-control">
      <%= f.rich_text_area :body %>
      <%= f.submit submit_label, class: "btn btn-primary mt-1" %>
  </div>
<% end %>

