<div class="container">
    <h1>Expat Blog</h1>
    <p>Para pessoas vindo aos Estados Unidos em busca de uma vida melhor.</p>

    <%# <a href="/about">About me</a> %>
    <%= link_to "About Me", about_path %>

</div>