<li class="dropdown-item">
<%# to_notification calling the message method created in comment_notification, and go to the path in the url method.  %>
    <%= link_to notification.to_notification.message, notification.to_notification.url %>
</li>
